<!-- READ -->

<div class="table-container">
    <h2><%= location %> Trip Reports</h2>

    <table class="table table-bordered w-75">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Trip Report</th>
            </tr>
        </thead>
        <tbody>
            <!-- displays most recent TRs first -->
            <% reports.slice().reverse().forEach(el => { %>
            <tr>
                <td><%= el.user.username %>
                    
                </td>
                <td><%= el.report %>
                
                    <% if (user && user.id === el.user.id) { %>
                        <a href="/reports/edit/<%= el.id%>" > Edit </a>
                        <form action="/reports/<%= el.id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete Trip Report">
                        </form>
                
                        <% } %> 
                </td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
</div>

<% if (!user) { %>
    <h3>Must be <a href="/users/login">signed in</a> to write a trip report. Create a new account <a href="/users/new">here</a></h3>
<% } %> 
    
<% if (user) { %>
    <!-- CREATE -->
<form action="/reports" method="POST">
    <!-- add label/input for date -->
    <div class="report-container mb-3 w-75">
        <label for="report" class="form-label">Write a trip report:</label>
        <textarea type="text" name="report" id="report" class="form-control" rows="3" required></textarea>
        <input type="hidden" name="userId" value="<%= user.id %> ">
        <input type="hidden" name="areaId" value="<%= id %>">
        <input type="submit" class="btn btn-primary">        
    </div>
    
</form>

    
    <% } %>

    <!-- UPDATE - PUT -->
    
    <!--DELETE -->
    