<h1>Edit Favorites Page</h1>


<% foundFaves.forEach(fave=> { %>

    <form action="/favorites/<%= fave.id %>/?_method=PUT" method="POST">
        
        <div class="row">
            <div class="col-md-6">
                <label for="nickname" class="form-label">Nickname</label>
                <input type="text" class="form-control" name="nickname" id="nickname" value="<%= fave.name %>" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="latitude" class="form-label">Latitude</label>
                <input type="number" step="any" class="form-control" name="latitude" id="latitude" value="<%= fave.latitude %>" required>
            </div>

            <div class="col-md-3">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="number" step="any" class="form-control" name="longitude" id="longitude" value="<%= fave.longitude %>" required>
            </div>

            <div class="col-12">
                <input type="hidden" name="userId" value="<%= user.id %>">
                <button type="submit" class="btn btn-primary">Submit Changes</button>
            </div>
        </div>
    
    </form>

<% }) %> 