<h1>Weather Forecast of <%= location %> </h1>

<% forecastDays.forEach(day => { %>
<ul>
    Date: <%= day.datetime %> <br>
    Description: <%= day.description %>

    <li>
        High: <%= day.tempmax %>° F
    </li>
    <li>
        Low: <%= day.tempmin %>° F
    </li>
    <li>
        Precip: <%= day.precip %>
    </li>
    <li>
        Precipitation Potential: <%= day.precipprob %>%
    </li>
    <li>
        Precip Type: <%= day.preciptype %>
    </li>
    <li>
        Wind Speed: <%= day.windspeed %>
    </li>
    <li>
        Wind Gust: <%= day.windgust %>
    </li>
    <li>
        Wind Direction: <%= day.winddir %>
    </li>
    <li>
        Cloud Cover: <%= day.cloudcover %>
    </li>
            
</ul>
    
<% }) %>

<div>
    <canvas id="firstChart"></canvas>
</div>

<div>
    <canvas id="secondChart"></canvas>
</div>

<div>
    <canvas id="thirdChart"></canvas>
</div>

<div>
    <canvas id="fourthChart"></canvas>
</div>

<script>
    
let datesArray = <%-JSON.stringify(dates)%>;
// TEMP ARRAYS
let highTempsArray = <%-JSON.stringify(highTemps)%>;
let lowTempsArray = <%-JSON.stringify(lowTemps)%>;
// WIND ARRAYS
let windSpeedsArray = <%-JSON.stringify(windSpeeds)%>;
let windGustsArray = <%-JSON.stringify(windGusts)%>;
// PRECIP ARRAYS
let precipArray = <%-JSON.stringify(precip)%>;
// PROBABILITY ARRAYS
let precipProbArray = <%-JSON.stringify(precipProb)%>;
let cloudCoverArray = <%-JSON.stringify(cloudCover)%>;


// TEMP CHART
let firstChart = document.getElementById('firstChart').getContext('2d')

let tempChart = new Chart(firstChart, {
type:'bar',
data: {
    labels: datesArray,
    datasets: [{
        label: 'Temperature Range',
        data: [
            [lowTempsArray[0], highTempsArray[0]],
            [lowTempsArray[1], highTempsArray[1]],
            [lowTempsArray[2], highTempsArray[2]],
            [lowTempsArray[3], highTempsArray[3]],
            [lowTempsArray[4], highTempsArray[4]],
            [lowTempsArray[5], highTempsArray[5]],
            [lowTempsArray[6], highTempsArray[6]]
        ],   
        backgroundColor: 'green',
    }]
},
options: {}
})

// Wind Chart
let secondChart = document.getElementById('secondChart').getContext('2d')

let windChart = new Chart(secondChart, {
    type: 'line',
    data: {
        labels: datesArray,
        datasets: [{
            label: 'Avg Wind Speed',
            data: windSpeedsArray,
            backgroundColor: 'hotpink'
        }, {
            label: 'Wind Gusts',
            data: windGustsArray,
            backgroundColor: 'chartreuse'
        }]
    },
    options: {}
})

// PRECIP CHART
let thirdChart = document.getElementById('thirdChart').getContext('2d')

let precipChart = new Chart(thirdChart, {
    type: 'bar',
    data: {
        labels: datesArray,
        datasets: [{
            label: 'Precip Totals',
            data: precipArray,
            backgroundColor: 'lightblue',
        }],
    },
    options: {}
})

// POTENTIALS CHART
let fourthChart = document.getElementById('fourthChart').getContext('2d')

let probabilityChart = new Chart(fourthChart, {
    type: 'line',
    data: {
        labels: datesArray,
        datasets: [{
            label: 'Precip Probability',
            data: precipProbArray,
            backgroundColor: 'lightblue',
        }, {
            label: 'Cloud Cover',
            data: cloudCoverArray,
            backgroundColor: 'red'
        }],
    },
    options: {}
})

</script>