<h1>Weather Forecast of <%= location %> </h1>

<div class='charts-container'>
    <div>
        <canvas class="chart" id="firstChart"></canvas>
    </div>
    
    <div>
        <canvas class="chart" id="secondChart"></canvas>
    </div>
    
    <div>
        <canvas class="chart" id="thirdChart"></canvas>
    </div>
    
    <div>
        <canvas class="chart" id="fourthChart"></canvas>
    </div>
</div>


<script>

// DATES ARRAY
let datesArray = <%-JSON.stringify(dates)%>;
// TEMP ARRAYS
let highTempsArray = <%-JSON.stringify(highTemps)%>;
let lowTempsArray = <%-JSON.stringify(lowTemps)%>;
// WIND ARRAYS
let windSpeedsArray = <%-JSON.stringify(windSpeeds)%>;
let windGustsArray = <%-JSON.stringify(windGusts)%>;
// PRECIP ARRAYS
let precipArray = <%-JSON.stringify(precip)%>;
// PROBABILITY ARRAYS
let precipProbArray = <%-JSON.stringify(precipProb)%>;
let cloudCoverArray = <%-JSON.stringify(cloudCover)%>;


// TEMP CHART
let firstChart = document.getElementById('firstChart').getContext('2d')

let tempChart = new Chart(firstChart, {
type:'bar',
data: {
    labels: datesArray,
    datasets: [{
        label: 'Temp Range (°F)',
        data: [
            [lowTempsArray[0], highTempsArray[0]],
            [lowTempsArray[1], highTempsArray[1]],
            [lowTempsArray[2], highTempsArray[2]],
            [lowTempsArray[3], highTempsArray[3]],
            [lowTempsArray[4], highTempsArray[4]],
            [lowTempsArray[5], highTempsArray[5]],
            [lowTempsArray[6], highTempsArray[6]]
        ],   
        backgroundColor: 'green',
    }]
},
// options: {}
options: {
    plugins: {
        title: {
            display: true,
            text: 'test'
        },
        legend: {
            // position: 'right'
        },
    }
},
})

// Wind Chart
let secondChart = document.getElementById('secondChart').getContext('2d')

let windChart = new Chart(secondChart, {
    type: 'line',
    data: {
        labels: datesArray,
        datasets: [{
            label: 'Avg Wind Speed (mph)',
            data: windSpeedsArray,
            backgroundColor: 'hotpink'
        }, {
            label: 'Wind Gusts (mph)',
            data: windGustsArray,
            backgroundColor: 'chartreuse'
        }]
    },
    options: {}
})

// PRECIP CHART
let thirdChart = document.getElementById('thirdChart').getContext('2d')

let precipChart = new Chart(thirdChart, {
    type: 'bar',
    data: {
        labels: datesArray,
        datasets: [{
            label: 'Precip Totals (Water Equivalent)',
            data: precipArray,
            backgroundColor: 'lightblue',
        }],
    },
    options: {}
})

// POTENTIALS CHART
let fourthChart = document.getElementById('fourthChart').getContext('2d')

let probabilityChart = new Chart(fourthChart, {
    type: 'line',
    data: {
        labels: datesArray,
        datasets: [{
            label: 'Precip Probability (%)',
            data: precipProbArray,
            backgroundColor: 'lightblue',
        }, {
            label: 'Cloud Cover (%)',
            data: cloudCoverArray,
            backgroundColor: 'red'
        }],
    },
    options: {}
})

</script>