<h3 class="text-center m-3">Trip Reports</h3>

<table class="table table-bordered w-50 centered-table">
    <thead>
        <tr class="text-center">
            <th scope="col">Location</th>
            <th scope="col">Report</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% reports.forEach(element=> { %>
        <tr>
            <td class="text-center"> <%= element.area.name %> </td>
            <td> <%= element.report %></td>
            <td>
                <a class="btn btn-primary" href="/reports/edit/<%= element.id%>" role="button">Edit</a>
                <!-- DELETE TR -->
                <br><br>
                <form action="/reports/<%= element.id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
            </form></td>
        </tr>
    </tbody>
    <% }) %>
</table>

<h3 class="text-center mt-5 m-3">Favorited Locations</h3>

<table class="table table-bordered w-50 text-center centered-table">
    <thead>
        <tr>
            <th scope="col">Nickname</th>
            <th scope="col">Weather Links</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <% faves.forEach(fave=> { %>
    <tbody>
        <tr>
            <td> <%= fave.name %> <br> (<%= fave.latitude %>, <%= fave.longitude %>)</td>
            <td> <a href="/favorites/<%= fave.name %>/current">Current</a> <br> <a href="/favorites/<%= fave.name %>/forecast">7 Day Forecast</a></td>
            
            <td>
                <a class="btn btn-primary" href="/favorites/edit/<%= fave.id%>" role="button">Edit</a>
                <!-- DELETE TR -->
                <br><br>
                <form action="/favorites/<%= fave.id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="userId" value="<%= user.id %>">
                    <input type="submit" class="btn btn-danger" value="Delete">
            </form></td>
            <% }) %>

        </tr>
        <tr>
            <td colspan="3"><a href="/favorites/new">Create</a> a new location to add to your favorites list</td>
        </tr>
    </tbody>
</table>

