<h2>This is the home page of user: <%= user.username %> </h2>

<a href="/favorites/new">Create a new location</a>

<h3>Your Trip Reports</h3>

<% reports.forEach(element => { %>
    <ul>    
        <li>
            Location: <%=element.area.name %> <br>
            <!-- Add date here -->
            Report: <%= element.report %>
            <!-- Edit TR -->
            <a href="/reports/edit/<%= element.id%>" > Edit </a>
            <!-- DELETE TR -->
            <form action="/reports/<%= element.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Trip Report">
            </form>
        </li>
    </ul>
<% }) %>

<h3>Your favorites list</h3>

<% faves.forEach(fave=> { %>
    <ul>
        <li>
            Nickname: <%= fave.name %>
        </li>
    </ul>
<% }) %> 